body{
	background-image: url("homepagebg.png");
	background-size: cover;
	justify-content:center;
}

div p{
	font-size:60px;
	color:white;
	text-shadow: 0 2px 6px black;
	text-align:center;
	margin: 80px 0;
}

#hint{
	text-decoration:underline;
	text-align:left;
}